
#root {
  max-width: 1280px;
}

.homeLink {
  color: lightskyblue;
}

.field {
  margin: 10px 10px 10px 0px;
}

.indented-field {
  margin: 10px;
}

.indentedParagraph {
  padding-left: 30px;
}

button[type="submit"] {
  border:  solid forestgreen;
}

.resetButton {
  border: solid firebrick;
}

.v-field {
  margin: 10px 10px 10px 0px;
  display: grid;
}
.v-field input {
  margin-top: 15px;
}

.bold {
  font-weight: bold;
}
#next-exercise {
  background: lightblue;
}

.images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  border-radius: 10px;
}