
#root {
  max-width: 1280px;
}

.homeLink {
  color: lightskyblue;
}

.field {
  margin: 10px 10px 10px 0px;
}

.indented-field {
  margin: 10px;
}

.indentedParagraph {
  padding-left: 30px;
}

button[type="submit"] {
  border:  solid forestgreen;
}

.resetButton {
  border: solid firebrick;
}

.v-field {
  margin: 10px 10px 10px 0px;
  display: grid;
}
.v-field input {
  margin-top: 15px;
}

.bold {
  font-weight: bold;
}
#next-exercise {
  background: lightblue;
}