#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /*text-align: center;*/
}

nav {
  display: flex;
}

nav a {
  margin-right: 15px;
  font-weight: bold;
  font-size: larger;
  color: white;
}
a:hover {
  color: lightblue;
}

.homeLink {
  color: lightskyblue;
}

h3 a {
  color: white;
}
label {
  margin-right: 10px;
}

.field {
  margin: 10px 10px 10px 0px;
}

.indentedParagraph {
  padding-left: 30px;
}

button[type="submit"] {
  border:  solid forestgreen;
}

.resetButton {
  border: solid firebrick;
}

.v-field {
  margin: 10px 10px 10px 0px;
  display: grid;
}
.v-field input {
  margin-top: 15px;
}

blockquote {
  margin: 40px;
  font: italic 18px/1.5 Georgia, serif;
}

footer {
  margin-top: 30px;
  font-style: italic;
  text-align: right;
}