
#light {
  --text-color-light-theme: #213547;
  --background-color-light-theme: #f9f9f9;

  color: var(--text-color-light-theme);
  background-color: var(--background-color-light-theme);
  border: black;

  button {
    background-color: white;
    color: var(--text-color-light-theme);
  }

  nav  a, h3 a {
    color: var(--text-color-light-theme);
  }
  input {
    background-color: white;
  }
}

#dark {
  --text-color-dark-theme: #FFFFFFDD;
  --background-color-dark-theme: #242424;

  color: var(--text-color-dark-theme);
  background-color: var(--background-color-dark-theme);
  border: whitesmoke;

  button {
    background-color: black;
    color: var(--text-color-dark-theme);
        /*#1a1a1a;*/
  }

  nav a, h3 a  {
    color: var(--text-color-dark-theme);
  }

  input {
    background-color: black;
    color: var(--text-color-dark-theme);
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  margin: 0 auto;
  padding: 2rem;
  display: flex;
  place-items: center;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 2px solid;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 5px 10px;
}
button:hover {
  border-color: #64b2ff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
}

nav a {
  margin-right: 15px;
  font-weight: bold;
  font-size: larger;
}
a:hover {
  color: lightblue;
}

label {
  margin-right: 10px;
}

blockquote {
  margin: 40px;
  font: italic 18px/1.5 Georgia, serif;
}

footer {
  margin-top: 30px;
  font-style: italic;
  text-align: right;
}

input {
  border: solid 1px;
  border-radius: 5px;
  min-height: 25px;
  padding: 5px 10px;
}